<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>serverUrl</key>
	<string>https://gotest.clyng.com</string>
	<key>apiKey</key>
	<string>pk-0e00ec85-953b-4ccf-956a-f89f72f5ede6</string>
</dict>
</plist>
